/*---------------
    RESET
----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---------------
    HEADER
----------------*/
header {
    display: flex;
    padding: 20px 10px;
    background-color: pink;
}

.header-left, .header-right {
    width: 50%;
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.header-right {
    justify-content: flex-end;
}

.main-nav ul {
    display: flex;
    list-style: none;
    column-gap: 25px;
}
.main-nav ul a {
    color: #000;
    text-decoration: none;
}

.btn {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 8px 10px;
}